<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>@ViewData["Title"] - CrowdFundMVC</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/_layout.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Merienda+One">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</head>
</html>


<body style="background-color:aliceblue">

    <nav class="navbar navbar-expand-xl navbar-light bg-dark">
        <a href="~/Home/Index" class="navbar-brand text-light"><i class="fa fa-cube"></i>Fund<b>Astic</b></a>
        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div id="navbarCollapse" class="collapse navbar-collapse justify-content-start">
            <div class="navbar-nav">
                <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="About">About</a>
                <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Users">View Users</a>
                <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Projects">View Projects</a>
                <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="AddProject">Add Project</a>


            </div>
            <form class="navbar-form form-inline">
                <div class="input-group search-box">
                    <input type="text" class="form-control handleEnter" id="searchText" placeholder="Search a Title">
                    <i class="material-icons searchProject" style="color:white;padding-top:5px">&#xE8B6;</i>
                </div>
            </form>

            <div class="navbar-nav ml-auto">

                <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="AddUser" style="background-color: #5383d3;border-radius:4px;margin:5px 5px 5px 5px;width:80px;height:40px;text-align: center">Sign Up</a>
                <a id="login-btn" class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Login_Form" style="background-color: rebeccapurple;border-radius:4px;margin:5px 5px 5px 5px;width:80px;height:40px;text-align: center;color:white">Login</a>
                <a id="logout-btn" class="nav-link text-light" style="display: none;background-color: rebeccapurple;border-radius:4px;margin:5px 5px 5px 5px;width:80px;height:40px;text-align:center;color:white">Logout</a>
            </div>
        </div>
    </nav>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="footer-distributed">

        <div class="footer-left">

            <h3>Fund<span>Astic</span></h3>

            <p class="footer-links">
                <a href="~/Home/Index">Home</a>
                ·
                <a href="Privacy">Privacy</a>
                ·
                <a href="About">About</a>
                ·
            </p>

            <p class="footer-company-name">fundastic &copy; 2020</p>
        </div>

        <div class="footer-center">

            <div>
                <i class="fa fa-map-marker"></i>
                <p><span>Web Only</span></p>
            </div>

            <div>
                <i class="fa fa-phone"></i>
                <p>+30 555 1234560</p>
            </div>

            <div>
                <i class="fa fa-envelope"></i>
                <p><a href="mailto:support@company.com">contact@fundastic.com</a></p>
            </div>

        </div>

        <div class="footer-right">

            <p class="footer-company-about">
                <span>About the company</span>
                FundAstic is a crowd funding platform for the web, where one, could share their wildest idea and others could contribute financially to see it happening.
            </p>

            <div class="footer-icons">
                <!--<a href="#"><i class="fa fa-facebook"></i></a>
                <a href="#"><i class="fa fa-twitter"></i></a>
                <a href="#"><i class="fa fa-linkedin"></i></a>-->
                <a href="https://github.com/ioanchri/CrowdFundTeam5"><i class="fa fa-github"></i></a>

            </div>

        </div>

    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
