@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<form>
    <table align="center">
        <tr align="center">
            <td>
                Amount
            </td>
            <td> <input type="number" id="Amount" placeholder="Amount" /></td>
        </tr>

        <tr align="center">
            <td>
                Description
            </td>
            <td>
                <input type="text" id="Description" placeholder="Description" />
            </td>
        </tr>

        <tr align="center">
            <td>
                Reward
            </td>
            <td>
                <input type="text" id="Reward" placeholder="Reward" />

            </td>
        </tr>
        <tr align="center">
            <td>
                Photo
            </td>
            <td>
                <input type="file" id="Picture" placeholder="Insert Photo" />
            </td>
        </tr>
        <tr align="center">
            <td>
                <input type="button" value="Submit data" onclick="addPackage()" />
            </td>
        </tr>
    </table>
</form>