@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<form>
    <table align="center">
        <tr align="center">
            <td>
                Title
            </td>
            <td> <input type="text" id="Title" placeholder="Title" /></td>
        </tr>


        <tr align="center">
            <td>
                Description
            </td>
            <td>
                <input type="text" id="Description" placeholder="Add a description" />

            </td>
        </tr>

        <tr align="center">
            <td>

                Category
            </td>
            <td>
                <input type="text" id="Category" placeholder="Category" />
            </td>
        </tr>

        <tr align="center">
            <td>
                Update
            </td>
            <td>
                <input type="text" id="Update" placeholder="Update status" />

            </td>
        </tr>
        <tr align="center">
            <td>
                Photo
            </td>
            <td>
                <input type="file" id="Picture" placeholder="Insert Photo" />

            </td>
        </tr>
        <tr align="center">
            <td>
                Video
            </td>
            <td>
                <input type="file" id="Video" placeholder="Insert Video" />

            </td>
        </tr>

        <tr align="center">
            <td>
                Amount
            </td>
            <td>
                <input type="number" id="Amount" placeholder="Amount" />

            </td>
        </tr>

        <tr align="center">
            <td>
                <input type="button" class="btn-info" value="Submit data" onclick="addProject()" />
            </td>
        </tr>
    </table>
</form>