@{
    ViewData["Title"] = "AddProject";

}
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h1 class="text-center text-primary">Create a new Project</h1>

<form method="post">
    <div class="form-group">
        <label for="exampleFormControlInput1">Title</label>
        <input type="email" class="form-control" id="Title" placeholder="Enter the Title of your project">
    </div>
    <div class="form-group">

        <select class="custom-select" id="Categories">
            <option selected>Choose a category</option>
            <option>Technology</option>
            <option>Food</option>
            <option>Education</option>
            <option>Music</option>
            <option>Fashion</option>
            <option>Photography</option>
            <option>Travel</option>
            <option>Health</option>
            <option>WebSeries</option>
            <option>Transportation</option>
        </select>
    </div>

    <div class="form-group">
        <label for="exampleFormControlTextarea1">Description</label>
        <textarea class="form-control" id="Description" rows="3" placeholder="Try to be as specific as you can"></textarea>
    </div>
    <div class="form-group">
        <label for="exampleFormControlInput1">Update Post Info</label>
        <input type="text" class="form-control" id="User-Id" placeholder="Enter the status update of your project">
    </div>
    <div class="custom-file">
        <input type="file" class="custom-file-input" id="Picture">
        <label class="custom-file-label" for="Picture">Choose a Picture</label>
    </div>
    <div class="form-group">
        <label for="exampleFormControlInput1">Amount</label>
        <input type="number" class="form-control" id="Amount" placeholder="Enter the Amount that you wish to collect">
    </div>
    <div class="form-group">
        <h6>Add your Packages</h6>
        <label for="exampleFormControlInput1">Package 1</label>
        <input type="text" class="form-control" id="Package1" placeholder="Enter your first Package">
        <label for="exampleFormControlInput1">Package Reward</label>
        <input type="text" class="form-control" id="Reward1" placeholder="Enter Reward for Package 1">
        <label for="exampleFormControlInput1">Package 2</label>
        <input type="text" class="form-control" id="Package2" placeholder="Enter your second Package">
        <label for="exampleFormControlInput1">Package Reward</label>
        <input type="text" class="form-control" id="Reward2" placeholder="Enter Reward for Package 2">
        <label for="exampleFormControlInput1">Package 3</label>
        <input type="text" class="form-control" id="Package3" placeholder="Enter your third Package">
        <label for="exampleFormControlInput1">Package Reward</label>
        <input type="text" class="form-control" id="Reward3" placeholder="Enter Reward for Package 3">
    </div>
    <button type="button" class="btn btn-primary btn-lg btn-block" id="addProject">Create your Project!</button>

    <div class="alert alert-success " id="success-alert-project" role="alert">
        Project was created successsfully!
    </div>
    <div class="alert alert-danger" id="danger-alert-project" role="alert">
        Project could not be created.Try again.
    </div>

</form>