@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<form>
    <table align="center">
        <tr align="center">
            <td>
                FirstName
            </td>
            <td> <input type="text" id="FirstName" placeholder="FirstName" /></td>
        </tr>

        <tr align="center">
            <td>
                LastName
            </td>
            <td>
                <input type="text" id="LastName" placeholder="LastName" />
            </td>
        </tr>

        <tr align="center">
            <td>
                Email
            </td>
            <td>
                <input type="text" id="Email" placeholder="Email" />

            </td>
        </tr>
        <tr align="center">
            <td>

                Password
            </td>
            <td>
                <input type="text" id="Password" placeholder="Passwordr" />
            </td>
        </tr>
        <tr align="center">
            <td>
                <input type="button" value="Submit data" onclick="addUser()" />
            </td>
        </tr>
    </table>
</form>