
@model CrowdFundMVC.Models.PackageModel
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h1> Package Management</h1>

<table id="packageTable" border="1" cellpadding="10" cellspacing="0">
    <tr>
        <th>Id</th>
        <th>Description</th>
        <th>Reward</th>
        <th>Project Id</th>
        <th>Update</th>
        <th>Delete</th>
    </tr>

    @{
        foreach (var package in Model.Packages)
        {
        <tr>
            <td> @package.Id</td>
            <td> @package.Description</td>
            <td> @package.Reward   </td>
            <td> @package.ProjectId</td>
            <td> <a href="~/home/updatepackagewithdetails/@package.Id"><img src="https://image.flaticon.com/icons/png/512/84/84380.png" width="25" /></a>Update</td>
            <td> <a href="~/home/DeletePackageFromView/@package.Id"><img src="https://icons-for-free.com/iconfiles/png/512/delete+remove+trash+trash+bin+trash+can+icon-1320073117929397588.png" width="25" /></a>Delete</td>
        </tr>

        }
    }
</table>