@{
    ViewData["Title"] = "My Projects";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>
<table id="userTable" border="1" cellpadding="10" cellspacing="0">
    <tr>
        <th> Code </th>
        <th> Title</th>
        <th> Description</th>
        <th>Category</th>
        <th>Update info</th>
    </tr>
</table>