@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h1> Update your Packages</h1>

<form>
    <table align="center">

        <tr align="center">
            <td>
                Type your Project Id
            </td>
            <td> <input type="text" id="projectId-updatepackage" /></td>
        </tr>

        <tr align="center">
            <td>
                <input type="button" class="btn btn-outline-info" value="Submit data" class="updatePackage" onclick="findToUpdatePackage()" />
            </td>
        </tr>
    </table>
</form>