@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h1> Update Package</h1>

<form>
    <table align="center">

        <tr align="center">
            <td>
                Package Id
            </td>
            <td> <input type="text" id="Id" /></td>
        </tr>

        <tr align="center">
            <td>
                <input type="button" value="Submit data" onclick="findToUpdatePackage()" />
            </td>
        </tr>
    </table>
</form>